
:host ::ng-deep .test {
  margin-top: 50px;
  height: 100px;
  text-align: center;
  background-color:blue;
  background:white;
  text-align: justify;
}
header{
 width: 100%;
 background: lightblue;
 height: 70px;
}
.title{
  font-size: 36px;
  padding-top: 10px;
  text-align: center;
 }